.case {
  width: 370px;
  height: 480px;
  background-color: lightgray;
  border-radius: 10px;
  margin: auto;
}

.top {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.pv {
  width: 100px;
  height: 40px;
  background-clip: content-box;
  background-color: rgb(89, 89, 89);
  padding-top: 10px;

}

.name {
  font-family: monospace;
}

.display {
  background-color: rgb(123, 148, 158);
  border-radius: 5px;
  width: 80%;
  height: 50px;
  font-family: 'Geostar Fill', cursive;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

.line {
  width: 60%;
  height: 2px;
  background: black;
}

.pad {
  height: 70%;
  display: grid;
  grid-template: 1fr 4fr / 3fr 2fr;
  grid-template-areas:
    "box1 box1"
    "box2 box3";
}

.button {
  width: 50px;
  height: 35px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.1rem;
}

.memoryPad {
  grid-area: box1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numberPad {
  grid-area: box2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.operationPad {
  grid-area: box3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

#add {
  grid-row: 3/5;
  height: 90px;

}

#on {
  background-color: orange;
}

#ce {
  background-color: blue;
}
